<!DOCTYPE HTML>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>세금계산서-COD</title>
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <link href="//fonts.googleapis.com/earlyaccess/notosanskr.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/reset.css" rel="stylesheet" type="text/css">
    <link href="~/Assets/css/common.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="~/Assets/js/jquery-1.11.3.min.js"></script>
    <script src="~/Assets/js/common.js"></script>

    <script src="~/Assets/js/jsDagul/js.cookie.js"></script>
    <script src="~/Assets/js/jsDagul/common.js?version=1.0.14"></script>
    <script src="~/Assets/js/jsDagul/encoding.js"></script>

    <!-- [if IE 8]>
    <link rel="stylesheet" type="text/css" href="/Assets/css/print.css"  media="print" />
    <![endif]-->
</head>
<body>
    @RenderBody()
</body>
</html>