@charset "UTF-8";

/* layout */
html {height:100%;}
body {height:100%;}
.wrap {position:relative; min-width:1007px; min-height:100%;}
.header {width:100%; height:72px; padding:0 53px; line-height:72px; color:#fff; background:#363636; box-sizing:border-box;}
.header h1 {display:inline-block; margin:0 auto; font-size:25px; vertical-align:middle;}
.header h1:before {display:inline-block; content:""; width:38px; height:38px; margin:-2px 9px 0 0; vertical-align:middle; background:url("../images/icon_logo.png") no-repeat 0 0;}
.contents {min-width:907px; max-width:924px; margin:0 auto; padding:50px 50px 200px;}
.footer {position:absolute; bottom:0; left:50%; margin:0 0 0 -503px; padding:10px 0 46px; width:1006px;}
.footer .copyright {font-size:13px; text-align:center;}

.titleArea {position:relative; height:106px; margin:0 0 22px;}
.titleArea h2 {padding:25px 0 0; font-size:42px; font-weight:normal;}

.description {position:relative; padding:16px 300px 0 0; font-size:30px; line-height:1.67; font-weight:bold; vertical-align:middle;}
.description.done:after,
.titleArea:after {display:block; content:""; position:absolute; top:0; right:0; vertical-align:middle; background:no-repeat 0 0;}
.description.done:after {width:300px; height:124px; background-image:url("../images/bg_done.png");}
.titleArea.signup:after {width:141px; height:106px; background-image:url("../images/bg_siginup.png");}


.tableLayout {border:solid #595c66; border-width:2px 0 1px;}
.tableLayout table {table-layout:fixed; width:100%;}
.tableLayout th {padding:17px 0 17px 34px; border-right:1px solid #cbcbcb; background:#e9e9eb}
.tableLayout th,
.tableLayout td {text-align:left; border-top:1px solid #cbcbcb;}
.tableLayout td {padding:6px 24px;}

/* LOGIN */
.loginWrap {width:100%; height:100%; background:#31579e;}
.loginWrap .container {display:table; table-layout:fixed; width:100%; height:100%;}
.loginWrap .contents {display:table-cell; text-align:center; vertical-align:middle;}
.loginWrap .loginArea {width:470px; margin:0 auto; padding:53px 64px; background:#fff; box-sizing:border-box;}
.loginWrap .loginArea h1 {padding:0 0 40px; font-size:30px;}
.loginWrap .loginArea h1:before {display:block; content:""; width:72px; height:72px; margin:0 auto 17px; background:url("../images/bg_icon_cod.png") no-repeat 0 0;}
.loginWrap .loginForm {padding:40px 0 0; border-top:1px solid #d5d5d6;}
.loginWrap .fText {height:57px; line-height:55px; font-size:20px;}
.loginWrap .fText.error {border-color:#e60012;}
.loginWrap  li {margin:0 0 12px;}
.loginWrap .desc {margin:0 0 40px; font-size:19px; text-align:center;}
.loginWrap .btnSubmit {width:100%;}
.loginWrap .txtWarn {margin:13px 0 40px; font-size:16px; text-align:left;}

/* text */
.txtWarn {color:#e60012;}
.txtEm {color:#4285f4;}
.txtEllipsis {display:block; overflow:hidden; text-overflow:ellipsis; width:100%; white-space:nowrap;}

/* form */
.fText {display:inline-block; width:100%; height:37px; padding:0 17px; line-height:35px; border:1px solid #dedede; vertical-align:middle; background:#fafafa; border-radius:3px; box-sizing:border-box; }

/* button */
.btnSubmit, .btnNormal, .btnBasic {display:inline-block; height:57px; padding:0 17px; line-height:55px; font-size:19px; font-weight:bold; border:1px solid; border-radius:3px; vertical-align:middle; box-sizing:border-box;}
.btnSubmit {color:#fff; border-color:#31579e; background:#31579e;}
.btnSubmit.disabled {color:#959595; border-color:#e9e9eb; background:#e9e9eb;}
.btnSubmit:hover {color:#fff; border-color:#4285f4; background:#4285f4;}

/* btnArea */
.btnArea {margin:70px 0 0; text-align:center;}
.btnArea .btnSubmit {width:342px;}

/* 모바일 페이지 */
@media (min-width: 320px) and (max-width: 768px) {
    .wrap.mo {min-width:320px; height:100vh;}
    .wrap.mo .header {height:44px; padding:0 32px; line-height:44px;}
    .wrap.mo .header h1 {font-size:15px;}
    .wrap.mo .header h1:before {width:23px; height:23px; margin:-2px 5px 0 0; background:url("../images/icon_logo_m.png") no-repeat 0 0; background-size:cover;}
    .wrap.mo .contents {min-width:0; max-width:none; padding:57px 62px 0;}
    .wrap.mo .descriptionM {font-size:19px; line-height:1.67; text-align:center; letter-spacing:-1px;}
    .wrap.mo .descriptionM:before {display:block; content:""; width:140px; height:67px; margin:0 auto 49px; background:url("../images/bg_mobile_m.png") no-repeat 0 0; background-size:cover;}
    .wrap.mo .footer {position:absolute; bottom:33px; left:0; width:100%; height:auto; margin:0; padding:0; font-size:10px;}
    .wrap.mo .footer .copyright {font-size:10px;}
}























