
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_MoLayout.cshtml";
}
<div class="contents">
    <p class="descriptionM">모바일은 지원하지 않습니다. <br><span class="txtEm">PC에서만 확인이 가능</span>합니다.</p>
</div>

